.sidebar {
  background-color: #222;
  color: #fff;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #444;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-profile {
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  margin-left: 10px;
  font-weight: bold;
}

.logoutButton,
.createEventButton {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.logoutButton:hover,
.createEventButton:hover {
  background-color: #777;
}

.calendar-list,
.category-list {
  margin-bottom: 20px;
}

.category-list h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff;
}

.category-list ul {
  padding: 0;
  margin: 0;
}

.category-list li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.category-list li input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.category-list li input[type="checkbox"]:checked {
  background-color: #fff;
}

.category-list li input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 14px;
  color: #222;
  text-align: center;
  line-height: 20px;
  display: block;
}

.category-list li label {
  color: #fff;
  cursor: pointer;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.calendarList {
  list-style: none;
  padding: 0;
}

.calendarListItem {
  margin-bottom: 10px;
}

.calendarItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.calendarItem:hover {
  background-color: #3b3838;
}

.selected {
  background-color: #000000;
}

input[type="radio"] {
  left: -999em;
  position: absolute;
}

.confirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirmationContent {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.confirmationButtons {
  display: flex;
  justify-content: center;
}

.confirmationButton {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmationButton:nth-child(1) {
  background-color: #dc3545;
  color: #fff;
}

.confirmationButton:nth-child(2) {
  background-color: #6c757d;
  color: #fff;
}

.deleteButton {
  background-color: transparent;
  text-align: right;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton:hover {
  color: darkred;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.paginationButton {
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.paginationButton:hover {
  background-color: #555;
}

.paginationButton[disabled] {
  background-color: #666;
  color: #999;
  cursor: not-allowed;
}
